.why {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
  gap: 50px;
  background: #f9f9f9;
}

/* LEFT */
.why-left {
  flex: 1;
}

.why-left h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.why-left span {
  color: #ff3c00;
}

.why-left p {
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* STATS */
.stats {
  display: flex;
  gap: 30px;
}

.stats h3 {
  font-size: 24px;
  color: #ff3c00;
}

.stats p {
  font-size: 14px;
  color: #777;
}

/* RIGHT */
.why-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* CARD */
.feature-card {
  display: flex;
  gap: 15px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.feature-card svg {
  font-size: 22px;
  color: #ff3c00;
}

.feature-card h4 {
  margin-bottom: 5px;
}

.feature-card p {
  font-size: 14px;
  color: #666;
}

/* HOVER EFFECT */
.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* MOBILE */
@media (max-width: 768px) {
  .why {
    flex-direction: column;
    text-align: center;
  }

  .stats {
    justify-content: center;
  }

  .why-right {
    grid-template-columns: 1fr;
  }
}