/* ===== FOOTER ===== */
.footer {
  background: #1a0000;
  color: #fff;
  text-align: center;
  padding: 30px 16px;
}

.footer h2 {
  margin-bottom: 5px;
}

.footer p {
  font-size: 0.9rem;
  color: #ddd;
}

/* ===== SOCIAL ICONS ===== */
.social-icons {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  background: #8B0000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  transition: 0.3s;
}

/* Hover */
.social-icons a:hover {
  background: #D4AF37;
  color: #000;
  transform: translateY(-3px);
}